<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-brand"><a href="/about-us" class="navbar-item">About</a></div>
        <div class="navbar-brand"><a href="/contact-us" class="navbar-item">Contact</a></div>
    </div>
</nav>